<f:asset.script identifier="products-article-selector" src="EXT:products/Resources/Public/JavaScript/article-selector.js" type="module" />
<div class="article-selector mt-3" data-product-variant-selector data-variant-map="{variantMap}">
    <h6><f:translate key="choose_variant" /></h6>
    <f:form action="add" controller="Basket" extensionName="Products" pluginName="Basket" pageUid="{settings.pids.basketPage}">
        <f:form.hidden name="product" value="{product.uid}" />

        <f:if condition="{variantAttributes}">
            <f:then>
                <f:for each="{variantAttributes}" as="attribute">
                    <div class="mb-2">
                        <label>{attribute.title}</label>
                        <f:form.select
                            name="attributeValues[]"
                            options="{attribute.values}"
                            optionValueField="uid"
                            optionLabelField="value"
                            class="form-select variant-attribute-select"
                            additionalAttributes="{data-attribute-uid: attribute.uid}"
                        />
                    </div>
                </f:for>
                <f:form.hidden name="article" value="" additionalAttributes="{data-selected-article: 1}" />
            </f:then>
            <f:else>
                <div class="mb-3">
                    <f:form.select name="article" options="{product.articles}" optionLabelField="title" class="form-select" />
                </div>
            </f:else>
        </f:if>

        <div class="mb-3">
            <f:form.textfield name="quantity" value="1" type="number" class="form-control" additionalAttributes="{min: 1}" />
        </div>
        <f:form.submit value="{f:translate(key: 'add_to_basket')}" class="btn btn-primary" />
    </f:form>
</div>
