<f:if condition="{wishlistEnabled}">
    <f:then>
        <f:contains value="{product.uid}" subject="{wishlistProductUids}">
            <f:then>
                <f:form action="remove" controller="Wishlist" extensionName="Products" pluginName="Wishlist" pageUid="{settings.pids.wishlistPage}" class="d-inline">
                    <f:form.hidden name="product" value="{product.uid}" />
                    <f:form.submit value="{f:translate(key: 'remove_from_wishlist')}" class="btn btn-outline-secondary btn-sm" />
                </f:form>
            </f:then>
            <f:else>
                <f:form action="add" controller="Wishlist" extensionName="Products" pluginName="Wishlist" pageUid="{settings.pids.wishlistPage}" class="d-inline">
                    <f:form.hidden name="product" value="{product.uid}" />
                    <f:form.submit value="{f:translate(key: 'add_to_wishlist')}" class="btn btn-outline-secondary btn-sm" />
                </f:form>
            </f:else>
        </f:contains>
    </f:then>
</f:if>
