<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:p="http://typo3.org/ns/GoldeneZeiten/Products/ViewHelpers">
<f:comment>
    The voucher feature's own basket UI. Rendered by the core basket template, but owned here, so the
    basket knows nothing about vouchers. Moves with the voucher when it becomes its own extension.
</f:comment>
<div class="basket-vouchers mb-3">
    <f:variable name="discountSummary" value="{p:discount.voucherSummary()}" />
    <f:if condition="{discountSummary.appliedVouchers}">
        <f:then>
            <ul class="list-unstyled">
                <f:for each="{discountSummary.appliedVouchers}" as="voucher">
                    <li>
                        <f:translate key="voucher_applied" arguments="{0: voucher.code}" />
                        <f:link.action action="remove" controller="Voucher" pluginName="Voucher" arguments="{voucherCode: voucher.code}" class="btn btn-link btn-sm"><f:translate key="remove" /></f:link.action>
                    </li>
                </f:for>
            </ul>
            <p class="basket-voucher-discount">
                <f:translate key="voucher_discount" />: &minus;{discountSummary.discountTotal.decimalString} {basket.currency}
            </p>
        </f:then>
    </f:if>
    <f:form action="apply" controller="Voucher" pluginName="Voucher" class="d-flex gap-2">
        <f:form.textfield name="voucherCode" class="form-control" placeholder="{f:translate(key: 'voucher_code')}" />
        <f:form.submit value="{f:translate(key: 'apply_voucher')}" class="btn btn-default" />
    </f:form>
</div>
</html>
